@model IEnumerable<Animal>
@{
    ViewData["Title"] = "Result";
}

@foreach(var response in Model)
{
    <h1 style="text-align: center; color: gold; margin-top: 30px;">Your Animal Was: @response.species!!!</h1>
}
<p style="text-align: center;">Wowwwww. So neat. You can press the buttons below to pet more animals or check out worlds again :)</p>

<table class="table table-bordered table-striped" style="width:20%; margin:0 auto; text-align: center; margin-top: 30px;">
    <tbody>
        <tr>
            <td width="10%">
                <a asp-controller="Zoo" asp-action="Index">Pet more animals Hereee</a>
            </td>
        </tr>
        <tr>
            <td width="10%">
                <a asp-controller="Home" asp-action="Index">...Or return home with this button.</a>
            </td>
        </tr>
    </tbody>
</table>